body{
    background-color:rgb(8, 46, 46);
    color:rgb(2, 250, 134);
}

h1{
font-family: Arial;
    text-align:center;
    font-size: 22px;
}
.styck1{
    border: 1px solid blue;
}
.styck3{
    text-align: center;
  
}
.styck4{
    text-align: center;

}